.list {
	margin-bottom: 30px;

	&:last-of-type {
		margin: 15px;
	}

	&__add-button {
		&:hover span,
		&:hover path {
			color: black;
			stroke: black;
		}

		path {
			stroke: gray;
			transition: 0.3s stroke ease-in-out;
		}

		span {
			color: #767678;
			transition: 0.3s color ease-in-out;
		}
	}

	li {
		display: flex;
		align-items: center;
		padding: 10px 12px;
		cursor: pointer;

		&.active {
			background: #fff;
			box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.04);
			border-radius: 4px;
		}

		.badge {
			position: relative;
			left: 4px;
		}

		i {
			display: inline-flex;
			margin-right: 14px;
		}

		svg {
			margin-right: 10px;
			path {
				fill: gray;
			}
		}
	}
}
